
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post"> <!--Gönderme işlemi olacağı zaman method=post kullanılır.-->
    <div>
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="KATEGORIAD"/>
    </div>
    <div style="margin-top:15p">
        <button class="btn btn-success">Kategori Ekle</button>
    </div>
</form>

