@using MvcStok.Models.Entities
@model List<TBLYARDIM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Sana Nasıl Yardımcı Olabilirim?
</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"><b>MvcStok Hakkında Sorular ve Cevaplar</b></h2>
            </div>
            <form method="post" action="/Yardim/Index/">
                <div class="resim-container">
                    <img src="https://r.resimlink.com/jzTZf.jpg" alt="" width="72" height="72">
                </div>
                    <div class="modal-body">

                        @foreach (var yrdm in Model)
                        {
                            <tr>
                                <br />
                                <td><b>@yrdm.YardimID . @yrdm.Soru</b></td>
                                <br />
                                <td>@yrdm.Cevap</td>
                                <br />
                            </tr>

                        }
                    </div>
            </form>
        </div>
    </div>
</div>

